@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f8;
  --foreground: #2e2e30;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232326;
    --foreground: #dcdcdc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
