@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode als Standard */
:root {
  --background: #fafafa; /* Fast Weiß mit minimalem Grau-Ton */
  --foreground: #2c3e50; /* Dunkles Blau-Grau für eleganten Kontrast */
}

.dark {
  --background: #1e272e; /* Dunkles Blau-Grau für weniger harten Kontrast */
  --foreground: #ecf0f1; /* Helles Grau für gute Lesbarkeit */
}

/* Body-Stile */
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s; /* Weicher Übergang */
}
